body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
}

th,
td {
    padding: 10px;
    text-align: center;
}

a {
    text-decoration: none;
}

section {
    text-align: center;
}

table {
    display: inline-block;
}

div.addBtn {
    margin-top: 10%;
}

div.elPad {
    padding-bottom: 10px;
}